#!/usr/bin/make -f

export PYBUILD_SYSTEM=pyproject
export PYBUILD_NAME=opendoor
export PYBUILD_DISABLE=test

%:
	dh $@ --buildsystem=pybuild

execute_after_dh_auto_install:
	if [ -d debian/opendoor/usr/share/opendoor ]; then \
		find debian/opendoor/usr/share/opendoor -type f -exec chmod 0644 {} +; \
	fi
